/* VARIABLES */

:root {
    --text-color: #5D6063;
    --background-color: rgba( 255, 255, 255, 0.25 );
    --orange: #F9564F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
    cursor: default;
}

/* NAVBAR */

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 2px -2px gray;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.822);
}

.nav--logo {
    display: grid;
    place-content: center;
    cursor: pointer;
}

.nav--logo img {
    height: 50px;
    width: 50px;
}

.nav--items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--item {
    margin: 15px;
    list-style: none;
}

.nav--item a{
    text-decoration: none;
    color: #3C374C;
    font-size: 1.1em;
}

.nav--item a:hover{
    transition: .3s ease-in;
    font-size: 1.2em;
}

/*****************************************/

/* MAIN SECTION */

/* ABOUT */
.about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.about__card {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: .8em;
}

.about__title {
    font-size: 3em;
}

.about__text {
    font-size: 1.1em;
    margin: 30px 0;
}

.about__buttons {
    display: flex;
    place-content: center;
}

.about__buttons button {
    height: 35px;
    width: 100px;
    border: none;
    margin: 15px;
}

.about__buttons button:hover {
    transition: .8s ease;
    background: var(--orange);
    color: white;
    cursor: pointer;
}

.about__image img {
    width: 150px;
    height: 150px;
}

.about__presentation {
    margin-top: 50px;
    max-width: 800px;

}

@media (min-width: 768px) {
    .about__card {
        flex-direction: row;
        height: 500px;
    }

    .about__description {
        width: 50%;
        padding: 3em;
    }

    .about__image {
        width: 50%;
        display: grid;
        place-content: center;
    }
    
    .about__image img {
        width: 300px;
        height: 300px;
    }
}

/*****************************************/

/* ADVANTAGES */

.advantages {
    text-align: center;
}

.benefits, .process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefits__text, .process__text {
    padding: 2em;
}

.benefits__text h2, .process__text h2 {
    margin: 1em;
}

.benefits__cards, .process__cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.benefits__cards .card, .process__cards .card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
}

.benefits__cards .card .material-icons, .process__cards .card .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .benefits__cards .card .material-icons:hover, .process__cards .card .material-icons:hover {
    color: var(--orange);
    transition: .8s ease;
  }

/*****************************************/

/* TOOLS */

.glass {
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.subtitle {
    color: var(--orange);
}