.contact {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__socials {
        padding: 2em;
        display: flex;
        flex-direction: row;
        gap: 50px;

        & a {
            height: 50px;
            width: 50px;
            border-radius: 15px;
            display: grid;
            place-content: center;
            border: 1px solid #5D6063;
            transition: .2s ease-in;

            & img {
                height: 35px;
                width: 35px;
                cursor: pointer;
            }

        }

        & a:hover {
            transform: scale(1.1);
        }

    }
}